:root {
	--negro: #1f1f1f;
	--negro-t: #1f1f1f1f;
	--blanco: #efefef;
	font-size: 12px;
}

* {
	font-family: "Vend Sans", system-ui, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.65;
}

html {
	width: 100%;
}

body {
	width: 100%;
	background-color: var(--blanco);
	color: var(--negro);
}

header, section {
	min-width: 320px;
	max-width: 480px;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem 1rem;
	background-color: var(--blanco); 
}

header img {
	width: 75px;
	border-radius: 50%;
	border: 1px solid var(--negro);
}

section {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	gap: 1rem;
}

section img {
	width: 200px;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	border: 1px solid var(--negro);
	align-self: center;
	box-shadow: 0 0 6px var(--negro);
}

section h2 {
	font-size: 2.1rem;
	margin: 0 auto;
}

section ul, section p {
	background: var(--negro-t);
	padding: 9px;
}

section ul li, section p {
	list-style-type: none;
	font-size: 1.5rem;
}

section div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

b {
	border-bottom: 3px dashed var(--negro);
}

h2, li, b, p {
	text-shadow: 0 0 1px var(--negro);
}

.domingo {
	background: rgb(0 204 0);
}

.domingo ul,
.domingo p {
	box-shadow: inset 5px 5px 5px rgb(0 204 0),
							inset -5px -5px 5px rgb(0 204 0);
}

.lunes {
	background: rgb(102 0 204);
}

.lunes ul,
.lunes p {
	box-shadow: inset 5px 5px 5px rgb(102 0 204),
							inset -5px -5px 5px rgb(102 0 204);
}

.martes {
	background: rgb(204 204 0);
}

.martes ul,
.martes p {
	box-shadow: inset 5px 5px 5px rgb(204 204 0),
							inset -5px -5px 5px rgb(204 204 0);
}

.miercoles {
	background: rgb(0 0 204);

}

.miecoles ul,
.miecoles p {
	box-shadow: inset 5px 5px 5px rgb(0 0 204),
							inset -5px -5px 5px rgb(0 0 204);
}

.jueves {
	background: rgb(204 102 0);
}

.jueves ul,
.jueves p {
	box-shadow: inset 5px 5px 5px rgb(204 102 0),
							inset -5px -5px 5px rgb(204 102 0);
}

.viernes {
	background: rgb(0 102 204);
}

.viernes ul,
.viernes p {
	box-shadow: inset 5px 5px 5px rgb(0 102 204),
							inset -5px -5px 5px rgb(0 102 204);
}

.sabado {
	background: rgb(204 0 0);
}

.sabado ul,
.sabado p {
	box-shadow: inset 5px 5px 5px rgb(204 0 0),
							inset -5px -5px 5px rgb(204 0 0);
}

.icons {
	display: flex;
	gap: 1rem;
}

svg {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.dark-mode {
	fill: var(--negro);
}

.light-mode {
	fill: var(--blanco);
}

.hide {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.img-dark {
	filter: brightness(75%);
}

body.dark {
	background: var(--negro);
}

header.dark {
	background: var(--negro);
}

body.dark h2,
body.dark li,
body.dark b,
body.dark p {
	text-shadow: unset;
}

body.dark b {
	border-color: var(--negro);
}

@media screen and (min-width: 481px) {
	
	:root {
		font-size: 13px;
	}

	section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto;
	}

	section, header {
		max-width: 768px;
		width: 100%;
	}

	section h2, section ul, section img {
			grid-column: 1 / 3;
	}

	section img {
		width: 250px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 769px) {
	
	:root {
		font-size: 14px;
	}

	section, header {
		max-width: 1024px;
	}

	section ul {
		grid-column: 1 / 2;
	}

	section img {
		grid-column: 2 / 3;
		width: 300px;
	}

}