:root {
	--negro: #1f1f1f;
}

* {
	font-family: system-ui, sans-serif;
}

body {
	width: 100vw;
	background-color: var(--negro);
	color: var(--negro);
}

header, section {
	min-width: 320px;
	max-width: 480px;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem 1rem;
	background-color: var(--negro); 
}

header img {
	width: 75px;
	border-radius: 50%;
	border: 1px solid var(--negro);
	box-shadow: 0 0 6px var(--negro);
}

section {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	gap: 1rem;
}

section img {
	width: 200px;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	border: 1px solid var(--negro);
	align-self: center;
	box-shadow: 0 0 6px var(--negro);
}

.img-dark {
	filter: brightness(70%);
}

section h2 {
	font-size: 2rem;
	margin: 0 auto;
}

section ul {
	font-size: 1.25rem;
}

section p {
	font-size: 1.25rem;
}

section ul li {
	list-style-type: none;
}

section div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.domingo {
	background: rgb(0 204 0);
	height: 100%;
}

.lunes {
	background: rgb(102 0 204);
}

.martes {
	background: rgb(204 204 0);
}

.miercoles {
	background: rgb(0 0 204);

}

.jueves {
	background: rgb(204 102 0);
}

.viernes {
	background: rgb(0 102 204);
}

.sabado {
	background: rgb(204 0 0);
}

.icons {
	display: flex;
	gap: 1rem;
}

svg {
	width: 40px;
	height: 40px;
	cursor: pointer;
	fill: #f0f0f0;
}

.hide {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}



@media screen and (min-width: 481px) {
	
	:root {
		font-size: 17px;
	}

	section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto;
	}

	section, header {
		max-width: 768px;
		width: 100dvw;
	}

	section h2, section ul, section img {
			grid-column: 1 / 3;
	}

	section img {
		width: 250px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 769px) {
	
	:root {
		font-size: 18px;
	}

	section, header {
		max-width: 1024px;
	}

	section ul {
		grid-column: 1 / 2;
	}

	section img {
		grid-column: 2 / 3;
		width: 300px;
	}

}